<!DOCTYPE html>
<html>
  <head>
    <title>Blog Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="/" class="logo">
            <span class="fa fa-pencil"></span>
            <span class="title">Blogging</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <% if (user) { %>
          <img
            src="<%= user.thumbnail %>"
            style="width: 200px; height: 200px"
          />
          <p><%= user.username%></p>
          <p><%= user.email%></p>
          <% } %>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>

          <% if (user) { %>

          <li><a href="/profile">Profile</a></li>
          <li><a href="/fav">Favourite Blogs</a></li>
          <% } %> <% if (user) { %>
          <li><a href="/auth/logout">Log out</a></li>
          <% } else { %>
          <li><a href="/auth/google">Login</a></li>
          <% } %>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/b1.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/b2.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/b3.jpg" alt="Third slide" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br />
        <br />

        <div class="inner">
          <!-- About Us -->

          <br />
          <!--Categories -->
          <div class="container text-center my-3">
            <h1>Categories</h1>
            <div class="row mx-auto my-auto">
              <div
                id="Carousel"
                class="carousel slide w-100"
                data-ride="carousel"
              >
                <div class="carousel-inner w-100" role="listbox">
                  <div class="carousel-item active">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\jonathan-chng-3R4vPrSB1c4-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/sports"
                            >Explore Sports &nbsp;<i
                              class="fa fa-long-arrow-right"
                            ></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\sam-manns-p0ZvBVpW3KY-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/women"
                            >Explore &nbsp;<i class="fa fa-long-arrow-right"></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\darius-soodmand-E-_I18oX5NQ-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/entertaintment"
                            >Explore Entertaintment&nbsp;<i
                              class="fa fa-long-arrow-right"
                            ></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\possessed-photography-g29arbbvPjo-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/science and technology"
                            >Explore Science & Tech&nbsp;<i
                              class="fa fa-long-arrow-right"
                            ></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\mirah-curzer-9hQM7BkPgRs-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/politics"
                            >Explore Politics&nbsp;<i
                              class="fa fa-long-arrow-right"
                            ></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="\img\category\stil-D4jRahaUaIc-unsplash.jpg"
                        />
                        <p class="text-center">
                          <a href="/blog/fashion"
                            >Explore Fashion&nbsp;<i
                              class="fa fa-long-arrow-right"
                            ></i
                          ></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  class="carousel-control-prev w-auto"
                  href="#Carousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="
                      carousel-control-prev-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next w-auto"
                  href="#Carousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="
                      carousel-control-next-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <br />

          <!---------------Recent blogs-------------------------------------------------------------->
          <div class="container text-center my-3">
            <h1>Recent Blogs</h1>
            <div class="row mx-auto my-auto">
              <div
                id="Carousel1"
                class="carousel slide w-100"
                data-ride="carousel"
              >
                <div class="carousel-inner w-100" role="listbox">
                  <% if (length>=1) { %>
                  <div class="carousel-item active">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs[0].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[0].slug %>"
                            ><%= blogs[0].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=2) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs[1].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[1].slug %>"
                            ><%= blogs[1].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=3) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs[2].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[2].slug %>"
                            ><%= blogs[2].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=4) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs[3].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[3].slug %>"
                            ><%= blogs[3].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=5) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs[4].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[4].slug %>"
                            ><%= blogs[4].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=6) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="/uploads/<%= blogs[5].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs[5].slug %>"
                            ><%= blogs[5].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <a
                  class="carousel-control-prev w-auto"
                  href="#Carousel1"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="
                      carousel-control-prev-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next w-auto"
                  href="#Carousel1"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="
                      carousel-control-next-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

          <!---------------Top LIked blogs-------------------------------------------------------------->
          <div class="container text-center my-3">
            <h1>Top Liked Blogs</h1>
            <div class="row mx-auto my-auto">
              <div
                id="Carousel1"
                class="carousel slide w-100"
                data-ride="carousel"
              >
                <div class="carousel-inner w-100" role="listbox">
                  <% if (length1>=1) { %>
                  <div class="carousel-item active">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs1[0].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[0].slug %>"
                            ><%= blogs1[0].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=2) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs1[1].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[1].slug %>"
                            ><%= blogs1[1].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=3) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs1[2].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[2].slug %>"
                            ><%= blogs1[2].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=4) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs1[3].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[3].slug %>"
                            ><%= blogs1[3].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=5) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          style="height: 350px; width: 650px"
                          src="/uploads/<%= blogs1[4].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[4].slug %>"
                            ><%= blogs1[4].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %> <% if (length>=6) { %>
                  <div class="carousel-item">
                    <div class="col-md-4">
                      <div class="card card-body">
                        <img
                          class="img-fluid"
                          src="/uploads/<%= blogs1[5].image %>"
                        />
                        <p class="text-center">
                          <a href="/articles/<%= blogs1[5].slug %>"
                            ><%= blogs1[5].slug %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <a
                  class="carousel-control-prev w-auto"
                  href="#Carousel1"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="
                      carousel-control-prev-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next w-auto"
                  href="#Carousel1"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="
                      carousel-control-next-icon
                      bg-dark
                      border border-dark
                      rounded-circle
                    "
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <br />
          <br />

          <header id="inner">
            <h1>Group chat</h1>
            <div>
              <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
              </div>
              <input id="handle" type="text" placeholder="Handle" />
              <input id="message" type="text" placeholder="Message" />
              <button id="send">Send</button>
            </div>
          </header>
          <!--end-->
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2>Contact Us</h2>
            <form method="post" action="/contact_us">
              <div class="fields">
                <div class="field half">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>

                <div class="field half">
                  <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                  />
                </div>

                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    rows="3"
                    placeholder="Notes"
                  ></textarea>
                </div>

                <div class="field text-right">
                  <label>&nbsp;</label>

                  <ul class="actions">
                    <li>
                      <input
                        type="submit"
                        value="Send Message"
                        class="primary"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </section>
          <section>
            <h2>Follow Us</h2>

            <ul class="icons">
              <li>
                <a
                  href="https://github.com/DEEPALI-SUK"
                  class="icon style2 fa-github"
                  ><span class="label">Deepali Sukhija</span></a
                >
              </li>
              <li>
                <a
                  href="https://github.com/DEEPIKA-SUK"
                  class="icon style2 fa-github"
                  ><span class="label">Deepika Sukhija</span></a
                >
              </li>
              <li>
                <a
                  href="https://github.com/Bhavika-Gianey"
                  class="icon style2 fa-github"
                  ><span class="label">Bhavika Gianey</span></a
                >
              </li>
            </ul>
          </section>

          <ul class="copyright">
            <li>Copyright © 2021 Blogging Website</li>
          </ul>
        </div>
      </footer>
    </div>

    <a href="#" class="to-top" style="text-decoration: none; color: white">
      <i class="fa fa-angle-up"></i>
    </a>

    <!----------------Chatbot------------------------>
    <a
      href="/chatbot"
      class="chatbot"
      style="text-decoration: none; color: white"
    >
      <i class="fa fa-comments" aria-hidden="true"></i>
    </a>
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
    <script>
      $("#Carousel").carousel({
        interval: 1000,
      });

      $(".carousel .carousel-item").each(function () {
        var minPerSlide = 3;
        var next = $(this).next();
        if (!next.length) {
          next = $(this).siblings(":first");
        }
        next.children(":first-child").clone().appendTo($(this));

        for (var i = 0; i < minPerSlide; i++) {
          next = next.next();
          if (!next.length) {
            next = $(this).siblings(":first");
          }

          next.children(":first-child").clone().appendTo($(this));
        }
      });
    </script>
    <script>
      $("#Carousel1").carousel({
        interval: 1000,
      });

      $(".carousel .carousel-item").each(function () {
        var minPerSlide = 3;
        var next = $(this).next();
        if (!next.length) {
          next = $(this).siblings(":first");
        }
        next.children(":first-child").clone().appendTo($(this));

        for (var i = 0; i < minPerSlide; i++) {
          next = next.next();
          if (!next.length) {
            next = $(this).siblings(":first");
          }

          next.children(":first-child").clone().appendTo($(this));
        }
      });
    </script>
  </body>
</html>
